html,body{
	width:100%;
	height:100%;
	margin:0;
	font-family:courier;
	background-image: url(paper.png);
	background-color:#8B4513;
	background-blend-mode: screen; 
	background-size: 380px 250px;
	background-repeat: repeat;


}
*{
	box-sizing:border-box;
}


header{
	width:100%;
	height:10%;
	padding:15px;


}




.row {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 40px;
}

.column {
  flex: 100%;
  max-width: 100%;
  padding: 20px 4px;
}

.column img {
  margin-top: 18px;
  vertical-align: middle;
}
